/* RESET + BOX-SIZING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* VARIABLES */
  :root {
    --color-primario: #0255E5;
    --color-secundario: #ffffff;
    --color-fondo: #F5F6F7;
    --color-texto: #333333;
    --color-borde: #dddddd;
  
    --font-base: 'Inter', sans-serif;
  
    --espacio-peque単o: 0.5rem;
    --espacio-medio: 1rem;
    --espacio-grande: 2rem;
  }
  
  /* ESTILOS BASE */
  body {
    font-family: var(--font-base);
    background-color: var(--color-secundario);
    color: var(--color-texto);
  }
  
  /* HERO */
  #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--espacio-grande) var(--espacio-medio);
    background-color: var(--color-secundario);
    text-align: center;
  }
  
  #hero nav ul {
    display: flex;
    gap: var(--espacio-medio);
    list-style: none;
    margin-bottom: var(--espacio-grande);
  }
  
  #hero nav ul li a {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    width: 94px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #hero .hero-content h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    color: var(--color-primario);
    margin-bottom: var(--espacio-medio);
  }
  
  #hero .hero-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #8B8B8B;
  }
  
  /* PROYECTOS DESTACADOS */
  #proyectos {
    background-color: var(--color-fondo);
    padding: var(--espacio-grande) var(--espacio-medio);
    text-align: center;
  }
  
  #proyectos h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: black;
    margin-bottom: var(--espacio-grande);
  }
  
  .proyectos-grid {
    display: grid;
    gap: var(--espacio-grande);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .tarjeta-proyecto {
    background-color: var(--color-secundario);
    border: 1px solid var(--color-borde);
    border-radius: 8px;
    padding: var(--espacio-medio);
    text-align: left;
    transition: transform 0.3s ease;
  }
  
  .tarjeta-proyecto:hover {
    transform: translateY(-5px);
  }
  
  .tarjeta-proyecto time {
    display: block;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: var(--espacio-peque単o);
    color: var(--color-texto);
  }
  
  .tarjeta-proyecto h3 {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: var(--espacio-peque単o);
  }
  
  .tarjeta-proyecto p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: var(--espacio-medio);
    color: var(--color-texto);
  }
  
  .tarjeta-proyecto p.tecnologias {
    font-weight: 700;
    font-size: 14px;
    margin-top: var(--espacio-peque単o);
  }
  
