.contact {
  background-color: #F5F6F7;
  padding: 60px 20px;
  text-align: center;
}

.contact__title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #333333;
  margin-bottom: 20px;
}

.contact__form {
  max-width: 500px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  gap: var(--espacio-medio);
  text-align: left;
}

.contact__label {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.contact__input,
.contact__textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 50px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.contact__button {
  align-self: center;
  padding: 10px 30px;
  background-color: var(--color-primario);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact__button:hover {
  background-color: #0042cc;
}

.contact__social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact__social-link {
}

.contact__social-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.contact__social-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .contact__title {
    font-size: 1.8rem; 
    margin-bottom: var(--espacio-medio);
  }
  .contact {
    padding: 2rem var(--espacio-pequeño); 
  }
  .contact__form {
    gap: var(--espacio-pequeño); 
  }
  .contact__input,
  .contact__textarea {
    padding: 15px; 
    font-size: 0.9rem;
  }
  .contact__button {
    padding: 8px 25px;
    font-size: 0.9rem;
  }
  .contact__social-icon {
    width: 35px; 
    height: 35px;
  }
}